@import "./utils/variables";
@import "./utils/mixins";

/* Page MENU des RESTAURANTS */

.hero-container {
	position: relative;
	.image-box {
		width: 100%;
		height: 45vh;
		/* put image-box behind */
		z-index: 1;
		&__img {
			width: 100%;
			height: 40vh;
			object-fit: cover;
		}
	}

	.titre-box {
		position: absolute;
		/* put the titre-box above image-box */
		z-index: 2;
		background: $couleur-back-grey1;
		width: 100%;
		bottom: 0em;
		border-radius: 30px 30px 0 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		.titre {
			padding-left: 20px;
		}
		/* Heart Icon Animation */

		&__heart-main {
			@include heart-format;
		}
		&__heart-bg {
			color: transparent;
			&:focus {
				display: block;
			}
		}

		&__heart-icon {
			cursor: pointer;
			& input {
				display: none;
			}
			& label {
				cursor: pointer;
			}
			& input:checked + label {
				.far {
					opacity: 0;
					transition: $heart-transition;
				}
				.fas {
					transition: $heart-transition;
					font-size: $heart-size;
					background: linear-gradient($couleur-primaire, $couleur-secondaire);
					-webkit-background-clip: text;
					background-clip: text;
					color: transparent;
				}
			}
		}
	}
}

/* Setion MENU */
.carte {
	background-color: $couleur-back-grey1;
	padding: 20px;
	h4 {
		padding-bottom: 5px;
		border-bottom: 4px solid #99e2d0;
		width: 40px;
	}
}
/* Animations */
#plats-moves {
	animation: move-up 1.5s ease-in;
}
@keyframes move-up {
	0%,
	80% {
		transform: translateY(-19rem);
	}
}

#desserts-moves {
	animation: move-up2 1.3s ease-in;
}
@keyframes move-up2 {
	0%,
	80% {
		transform: translateY(-38rem);
	}
}

.menu-list:nth-child(2) {
	animation: menu-listing2 1.5s 1.2s ease-in forwards;
}
.menu-list:nth-child(3) {
	animation: menu-listing2 1.6s 1.3s ease-in forwards;
}
.menu-list:nth-child(4) {
	animation: menu-listing2 1.7s 1.4s ease-in forwards;
}
@keyframes menu-listing {
	from {
		opacity: 0;
		transform: translate(-999px);
	}
	to {
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes menu-listing2 {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.menu-list {
	display: flex;
	background-color: white;
	border-radius: 15px;
	padding: 10px;
	box-shadow: 3px 4px 5px #d1d1d1;
	margin-top: 15px;
	cursor: pointer;
	overflow: hidden;
	opacity: 0;
	&__text {
		flex: 1;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		h3 {
			margin: 0;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		p {
			margin: 10px 0 0 0;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
	&__prix {
		display: flex;
		align-self: flex-end;
		font-weight: bolder;
		padding-right: 5px;
	}
	&__checked-box {
		@include center(row);
		background-color: $couleur-tertiaire;
		width: 4rem;
		color: white;
		font-size: 1.5em;
		margin: -1rem -5rem -1rem 1rem;
		transition-duration: 0.4s;
	}
	&:hover &__checked-box {
		margin-right: -1rem;
	}
	&__checked-icon {
		@include center(row);
		transform: rotate(180deg);
		transition-duration: 0.5s;
	}
	&:hover &__checked-icon {
		transform: rotate(0);
	}
}

#commander {
	background-color: $couleur-back-grey1;
	@include center(row);
	.btn {
		@include button;
	}
}
