body {
	font-family: "Roboto", sans-serif;
}

/* Generalities and variables*/
$couleur-primaire: #9356dc;
$couleur-secondaire: #ff79da;
$couleur-tertiaire: #99e2d0;
$couleur-back-grey1: #f2f2f2;
$couleur-back-grey2: #dfdfdf;

$testborder: 2px solid blue;

.title {
	font-family: Shrikhand;
}

@mixin center($direction) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

@mixin start($direction) {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: $direction;
}

@mixin fonction-choix {
	background-color: $couleur-back-grey1;
	box-shadow: 3px 4px 5px $couleur-back-grey2;
	height: 70px;
	width: 85%;
	border-radius: 25px;
	font-weight: bold;
	cursor: pointer;
	border: none;
	margin-top: 20px;
	margin-left: 7px;
	padding-left: 33px;
}
@mixin button {
	background: linear-gradient(
		to left top,
		$couleur-primaire,
		$couleur-secondaire
	);
	box-shadow: 3px 4px 5px #d1d1d1;
	height: 45px;
	width: fit-content;
	color: #f2f2f2;
	border-radius: 20px;
	font-weight: bold;
	cursor: pointer;
	border: none;
	margin: 20px 0 50px;
	padding: 0 40px;
}

header {
	@include center(row);
	#logo {
		display: block;
		margin: 0 auto;
		padding: 10px;
	}
}
#localisation {
	@include center(column);
	background-color: $couleur-back-grey1;
	text-align: center;

	.map-search {
		@include center(row);
		width: 100%;
		background-color: $couleur-back-grey2;
		padding: 10px 0;
		&__icon {
			margin-right: 10px;
		}
		&__input {
			background-color: $couleur-back-grey2;
			font-weight: bolder;
			color: #000;
			border-style: none;
		}
	}
	h1 {
		width: 75%;
	}
	p {
		margin-top: 0px;
	}
	.btn {
		@include button;
	}
}

/* sectin Fonctionnement */
#fonctionnement {
	padding: 20px 20px;

	.fonc__block {
		@include start(row);
		@include fonction-choix;
		.icon-number {
			position: absolute;
			left: 20px;
		}
		p {
			padding-left: 30px;
		}
	}

	.fa-stack {
		font-size: 0.8em;
		color: $couleur-primaire;
	}
	i {
		vertical-align: middle;
	}
}

/* section Restaurant */

#restaurants {
	@include start(column);
	background-color: $couleur-back-grey1;
	padding: 10px 20px;
	h2 {
		align-self: flex-start;
	}
	.resto-block {
		width: 100%;
		height: 200px;
		border-radius: 20px;
		box-shadow: 3px 4px 5px #d1d1d1;
		margin: 10px 0;

		&__img {
			width: 100%;
			height: 65%;
			object-fit: cover;
			border-radius: 20px 20px 0 0;
		}

		&__info {
			padding-left: 20px;
			@include start(row);
			&__text {
				width: 85%;
				line-height: 0.5em;
			}
		}

		&__nouveau-label {
			width: 70px;
			height: 20px;
			position: absolute;
			right: 50px;
			margin-top: 20px;
			text-align: center;
			padding: 3px;
			background: $couleur-tertiaire;
			color: green;
			font-weight: bold;
			box-shadow: 2px 3px 5px #d1d1d1;
			border-radius: 3px;
		}
	}
}

/* Page RESTO */
.hero-container {
	position: relative;
	.image-box {
		width: 100%;
		height: 45vh;
		/* put image-box behind */
		z-index: 1;
		&__img {
			width: 100%;
			height: 40vh;
			object-fit: cover;
		}
	}

	.title-box {
		position: absolute;
		/* put the title-box above image-box */
		z-index: 2;
		background: $couleur-back-grey1;
		width: 100%;
		bottom: 0em;
		border-radius: 30px 30px 0 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		.title {
			padding-left: 20px;
		}
		i {
			padding-right: 20px;
		}
	}
}

/* Setion MENU */
#carte {
	background-color: $couleur-back-grey1;
	padding: 20px;
	h4 {
		border-bottom: 3px solid $couleur-tertiaire;
		margin: 40px 0 20px;
	}
}
.menu > div {
	@include start(row);
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: white;
	border-radius: 20px;
	padding: 10px;
	box-shadow: 3px 4px 5px #d1d1d1;
	margin-top: 15px;
	h3 {
		width: 100%;
		margin-bottom: 0px;
	}
	&__prix {
		font-weight: bolder;
		align-self: end;
	}
}
#commander {
	background-color: $couleur-back-grey1;
	@include center(row);
	.btn {
		@include button;
	}
}
/* Footer */
footer {
	color: white;
	background-color: #303030;
	padding: 5px 20px;
	.foot-icon {
		@include start(row);
		margin-bottom: 16px;
		.fa-handshake {
			transform: rotate(315deg);
		}
		p {
			padding-left: 10px;
			margin: 0px;
		}
	}
}
