/* Menu page animation*/

@mixin menu-animation($delay) {
	h4 {
		opacity: 0;
		animation: grow 1.5s ease-in-out forwards $delay + 0 + s;
	}
	.touch-menulist:nth-child(2) {
		animation: menu-listing 1.5s ease-in forwards $delay + 0 + s;
	}
	.touch-menulist:nth-child(3) {
		animation: menu-listing 1.5s ease-in forwards $delay + 0.5 + s;
	}
	.touch-menulist:nth-child(4) {
		animation: menu-listing 1.5s ease-in forwards $delay + 0.8 + s;
	}
}
@keyframes grow {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes menu-listing {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
