/*  MOBILE or TOUCH Screens Clickable Menu listings */

.touch-menulist {
	background-color: $couleur-back-grey1;
	display: flex;
	padding: 0 20px;
	height: 6rem;
	overflow: hidden;
	opacity: 0;

	&__title {
		font-size: larger;
		font-weight: bolder;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		grid-column: 1/3;
		grid-row: 1/2;
	}
	&__sub-title {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		grid-column: 1/2;
		grid-row: 2/3;
	}
	&__price {
		font-weight: bolder;
		padding-right: 5px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		justify-self: end;
		grid-column: 2/3;
		grid-row: 2/3;
		margin: 0 -2rem 0 0;
	}

	.touch-checked-box {
		@include center(row);
		background-color: $couleur-tertiaire;
		width: 5rem;
		color: white;
		font-size: 1.5em;
		grid-column: 3/4;
		grid-row: 1/3;
		visibility: hidden;
		margin: -1rem -6.5rem -1rem 4rem;
	}
	.touch-checked-icon {
		@include center(row);
		transform: rotate(180deg);
		transition-duration: 0.5s;
	}

	label {
		background: white;
		display: grid;
		grid-template-columns: 3fr 0.5fr 0.5fr;
		grid-template-rows: 2rem;
		width: 100%;
		padding: 10px;
		border-radius: 15px;
		box-shadow: 3px 4px 5px #d1d1d1;
		cursor: pointer;
		overflow: hidden;
		height: 3.5rem;
	}

	input[type="checkbox"] {
		display: none;
	}

	input:checked + label .touch-checked-box {
		margin-right: -1rem;
		visibility: visible;

		.touch-checked-icon {
			transform: rotate(0);
		}
	}

	input:checked + label:before {
		content: "";
	}

	input.checkbox:checked + label:before {
		content: "";
	}
}
