/* loading spinner */
#overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $couleur-back-grey1;
	animation: fadeout 1.5s linear 1s forwards;
	z-index: 10;
}

#spinner {
	position: absolute;
	top: 25%;
	left: 50%;
	margin-left: -4rem;
	border: 1.5rem solid #ff79da;
	border-radius: 50%;
	border-top: 1.5rem solid #9356dc;
	border-bottom: 1.5rem solid #99e2d0;
	width: 4rem;
	height: 4rem;
	animation: spin 0.8s linear infinite;
}
/* spinner animation */

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* overlay fadeout */

@keyframes fadeout {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0);
	}
}
