/* Map and Localisation  Section*/

#localisation {
	@include center(column);
	background-color: $couleur-back-grey1;
	text-align: center;

	.map-search {
		@include center(row);
		width: 100%;
		background-color: $couleur-back-grey2;
		padding: 10px 0;
		&__icon {
			margin-right: 10px;
		}
		&__input {
			background-color: $couleur-back-grey2;
			font-weight: bolder;
			color: #000;
			border-style: none;
			&:focus {
				color: $couleur-primaire;
				outline: 2px solid $couleur-secondaire;
			}
		}
	}
	#main-text {
		text-align: center;
	}

	p {
		margin-top: 0px;
	}
	.btn {
		@include button;
		@include click-active;
	}
}

/* Fonctionnement Section */
#fonctionnement {
	padding: 20px 20px;

	.fonc__block {
		@include start(row);
		@include fonction-choix;
		position: relative;

		.icon-number {
			position: absolute;
			left: -12px;
		}

		&:hover {
			background-color: #9356dc46;
			box-shadow: 3px 6px 5px $couleur-back-grey2;
			& .icon-figure {
				color: $couleur-primaire;
			}
		}
		@include click-active;
	}

	.fa-stack {
		font-size: 0.8em;
		color: $couleur-primaire;
	}
	i {
		vertical-align: middle;
		padding-right: 20px;
	}
	.icon-figure {
		width: 2rem;
	}
	p {
		font-weight: bolder;
		padding-left: 10px;
	}
}

/* Accueil Restaurants Section */

#restaurants {
	@include start(column);
	background-color: $couleur-back-grey1;
	padding: 10px 20px;
	h2 {
		align-self: flex-start;
	}
	#resto-area {
		width: 100%;
	}
	.resto-block {
		position: relative;
		width: 100%;
		height: 200px;
		border-radius: 20px;
		box-shadow: 3px 4px 5px #d1d1d1;
		margin: 20px 0;

		&__img {
			width: 100%;
			height: 65%;
			object-fit: cover;
			border-radius: 20px 20px 0 0;
		}

		&__info {
			padding-left: 20px;
			@include start(row);
			&__text {
				display: flex;
				flex-direction: column;
				flex: 2;
				line-height: 0.2em;
				cursor: pointer;
			}
		}

		&__nouveau-label {
			width: 62px;
			height: 20px;
			position: absolute;
			right: 20px;
			margin-top: 20px;
			text-align: center;
			padding: 3px;
			background: $couleur-tertiaire;
			color: darken($couleur-tertiaire, 50%);
			font-weight: bold;
			box-shadow: 2px 3px 5px #d1d1d1;
			border-radius: 3px;
		}
		&:hover {
			box-shadow: 5px 5px 5px #d1d1d1;
		}
	}
}
