$couleur-primaire: #9356dc;
$couleur-secondaire: #ff79da;
$couleur-tertiaire: #99e2d0;
$couleur-back-grey1: #f2f2f2;
$couleur-back-grey2: #dfdfdf;

$heart-size: 1.5rem;
$heart-main-color: #000;
$heart-transition: 0.5s linear;
